{% extends 'base.html.twig' %}

{% block title %}Supprimer le produit{% endblock %}

{% block body %}

    <div class="container">
        <header class="page-header">
            <h2 class="page-title">Supprimer le produit {{ id }}</h2>
        </header>
    </div>
{% endblock %}